<html>
<head>

</head>
<body>
防伪税控  --> 武汉梦园商贸有限公司（小规模纳税人2月份筹建期）
<p><a href='/lab1/login'>(1)系统安装及初始化</a></p>
<p><a href='/lab1/invoice'>(2)购买发票</a></p>
<p><a href='/lab1/tax'>(3)抄税清卡</a></p>

</body>
</html>